# Dependencias principales para ejecutar la aplicación
opencv-python
Pillow
numpy
mysql-connector-python
gpiozero

# Opcional: si deseas usar la librería real face_recognition con dlib
# face-recognition
# dlib